/* ---------------------- CARRITO ----------------------*/
.carrito {
    padding: 40px 20px;
}
.carrito h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
.carrito-contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.tabla-productos table {
    width: 150%;
    border-collapse: collapse;
}
.tabla-productos th, .tabla-productos td {
    padding: 30px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.tabla-productos img {
    max-width: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
.tabla-productos td span {
    vertical-align: middle;
}
.resumen-compra {
    width: 25%;
    background-color: #f9f9f9;
    padding: 50px;
    border: 1px solid #ccc;
    text-align: center;
}
.resumen {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.resumen.total {
    font-weight: bold;
}
.comprar-button {
    background-color: #f76c6c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}
.comprar-button:hover {
    background-color: #993333;
}


/* ---------------------- ATENCIÓN AL CLIENTE ----------------------*/
.atencion-cliente {
    background-color: #f5f5f5;
    padding: 40px 20px;
    text-align: center;
}
.atencion-cliente h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.contacto {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.contacto div {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.atencion-cliente {
    background-color: white;
    padding: 40px;
    margin: 30px auto;
    width: 70%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.atencion-cliente h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}
.atencion-cliente p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    color: #555;
}

