/* Reseteo de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos del encabezado y menú de navegación */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Estilos del menú de navegación */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    position: relative;
}

.nav-menu li {
    position: relative;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.submenu {
    display: none; /* Oculta el submenú por defecto */
    position: absolute;
    background-color: #444; /* Color de fondo del submenú */
    list-style: none;
    padding: 10px 0;
    min-width: 150px;
    z-index: 1; /* Asegura que el submenú esté encima de otros elementos */
}

.submenu li {
    text-align: left;
}

.submenu a {
    padding: 8px 15px;
    color: white;
    text-decoration: none;
}

.submenu a:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el cursor */
}

/* Mostrar el submenú al pasar el cursor por encima del elemento principal */
.nav-menu li:hover .submenu {
    display: block; /* Muestra el submenú cuando se pasa el cursor */
}
.iconos {
    display: flex;
    align-items: center;
}

/* Estilo de la sección principal (call to action) */
.calltoaction {
    /* background-image: url('images/banner.jpg');*/
    background-size: cover; /* Ajusta la imagen para cubrir el área del banner */
    background-position: center; /* Centra la imagen de fondo */
    text-align: center;
    color: white;
    padding: 80px 20px;
    background-color: #333;
}

.explore-button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #f76c6c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.explore-button:hover {
    background-color: #993333;
}

/* Estilo de la tienda de productos gourmet */
.tienda {
    padding: 40px 20px;
    text-align: center;
}

.tienda h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.producto-item {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.producto-item h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.producto-item p {
    color: #f76c6c;
    font-weight: bold;
    margin-bottom: 10px;
}

.producto-item button {
    padding: 8px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto-item button:hover {
    background-color: #555;
}

.ver-mas {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.ver-mas:hover {
    background-color: #555;
}


/* Estilo de la sección Oferta Especial */
.oferta-especial {
    display: flex; /* Utiliza flexbox para el diseño */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 40px 20px; /* Espaciado interno de la sección */
    background-color: #c5c1c1; /* Color de fondo de la sección */
    text-align: justify;
}

.oferta-imagen {
    flex: 1; /* El contenedor de la imagen ocupa 1 parte del espacio */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.oferta-imagen img {
    max-width: 50%; /* Establece el ancho máximo al 70% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Bordes redondeados para la imagen */
    margin-left: 25%;
}

.oferta-texto {
    flex: 1; /* El contenedor de texto ocupa 1 parte del espacio */
    background-color: #fff; /* Color de fondo del texto */
    padding: 20px; /* Espacio interno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.oferta-texto h2 {
    font-size: 1.5rem; /* Tamaño del título */
    margin-bottom: 10px; /* Espacio debajo del título */
}

.oferta-texto p {
    font-size: 1rem; /* Tamaño del texto */
    color: #555; /* Color del texto */
}
/* Estilos para los de caja de informacion  */
.features-section {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos equitativamente */
    padding: 20px;
    background-color: #ffffff; /* Fondo gris claro para los contenedores */
}

.feature-item {
    background-color: #c5c1c1; /* Fondo gris de los bloques */
    padding: 20px;
    text-align: center;
    width: 25%; /* Ancho fijo para cada bloque */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.feature-item i {
    font-size: 2rem; /* Tamaño del icono */
    margin-bottom: 10px;
    color: #333; /* Color del icono */
}

.feature-item p {
    font-size: 1rem;
    color: #333; /* Color del texto */
}

/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Sección del Carrito */
.carrito {
    padding: 40px 20px;
}

.carrito h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.carrito-contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tabla-productos table {
    width: 150%;
    border-collapse: collapse;
}

.tabla-productos th, .tabla-productos td {
    padding: 30px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.tabla-productos img {
    max-width: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.tabla-productos td span {
    vertical-align: middle;
}

.resumen-compra {
    width: 25%;
    background-color: #f9f9f9;
    padding: 50px;
    border: 1px solid #ccc;
    text-align: center;
}

.resumen {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.resumen.total {
    font-weight: bold;
}

.comprar-button {
    background-color: #f76c6c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}

.comprar-button:hover {
    background-color: #993333;
}

/* Sección de Atención al Cliente */
.atencion-cliente {
    background-color: #f5f5f5;
    padding: 40px 20px;
    text-align: center;
}

.atencion-cliente h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.contacto {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.contacto div {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.atencion-cliente {
    background-color: white;
    padding: 40px;
    margin: 30px auto;
    width: 70%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.atencion-cliente h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.atencion-cliente p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    color: #555;
}

.formulario-contacto {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.formulario-contacto label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.formulario-contacto input,
.formulario-contacto textarea {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.formulario-contacto input:focus,
.formulario-contacto textarea:focus {
    outline: none;
    border-color: #f76c6c;
}

.enviar-button {
    background-color: #f76c6c;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enviar-button:hover {
    background-color: #993333;
}

/* Cajas de información */
.features-section {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #333;
    color: white;
    text-align: center;
}

.feature-item {
    flex-basis: 30%;
}

.feature-item i {
    font-size: 30px;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 18px;
}
