

/* ---------------------- Estilo para oferta especial ----------------------*/
.oferta-especial {
    display: flex; /* Utiliza flexbox para el diseño */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 40px 20px; /* Espaciado interno de la sección */
    background-color: #c5c1c1; /* Color de fondo de la sección */
    text-align: justify;
}
.oferta-imagen {
    flex: 1; /* El contenedor de la imagen ocupa 1 parte del espacio */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}
.oferta-imagen img {
    max-width: 50%; /* Establece el ancho máximo al 70% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Bordes redondeados para la imagen */
    margin-left: 25%;
}
.oferta-texto {
    flex: 1; /* El contenedor de texto ocupa 1 parte del espacio */
    background-color: #fff; /* Color de fondo del texto */
    padding: 20px; /* Espacio interno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
.oferta-texto h2 {
    font-size: 1.5rem; /* Tamaño del título */
    margin-bottom: 10px; /* Espacio debajo del título */
}
.oferta-texto p {
    font-size: 1rem; /* Tamaño del texto */
    color: #555; /* Color del texto */
}

/* ---------------------- Estilo para cajas de informacion ----------------------*/
.features-section {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos equitativamente */
    padding: 20px;
    background-color: #ffffff; /* Fondo gris claro para los contenedores */
}
.feature-item {
    background-color: #c5c1c1; /* Fondo gris de los bloques */
    padding: 20px;
    text-align: center;
    width: 25%; /* Ancho fijo para cada bloque */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
.feature-item i {
    font-size: 2rem; /* Tamaño del icono */
    margin-bottom: 10px;
    color: #333; /* Color del icono */
}
.feature-item p {
    font-size: 1rem;
    color: #333; /* Color del texto */
}






/* ---------------------- Estilo de la tienda de productos gourmet ----------------------*/
.tienda {
    padding: 40px 20px;
    text-align: center;
}
.tienda h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}
.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}
.producto-item {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.producto-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.producto-item h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}
.producto-item p {
    color: #f76c6c;
    font-weight: bold;
    margin-bottom: 10px;
}
.producto-item button {
    padding: 8px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.producto-item button:hover {
    background-color: #555;
}
.ver-mas {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
.ver-mas:hover {
    background-color: #555;
}

/* ---------------------- Slide de imagenes ----------------------*/

.slideshow-container {
    max-width: 1000px;
    position: relative;

  }
  
  .mySlides {
    display: none;
  }
  .mySlides img {
    width: 20%;
    height: auto;
    margin-left: 40%;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    margin-left: 40%;

  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #222020;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  .slide-in-box {
    position: relative;
    left: -100%; /* Inicia fuera de la pantalla */
    opacity: 0;
    animation: slideIn 2s forwards;
    margin-bottom: 20px;
}
/* ---------------------- Slide de bienvenida ----------------------*/

@keyframes slideIn {
    0% {
        left: -100%; /* Empieza fuera de la pantalla a la izquierda */
        opacity: 0;
    }
    100% {
        left: 0; /* Llega a su posición original */
        opacity: 1; /* Se hace completamente visible */
    }
}
